@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
    --background-white: #FEFAE0;
    --primary-colour : #BC6C25;
    --secondary : #DDA15E;
    --tertionary:#606C38;
    --text :#283618 ;

  }

body {
    background: var(--background-white);
    color: var(--text);
    margin: 100px;
}

.photo {
    max-width: 200px;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    border: 5px solid var(--primary-colour);
    border-radius: 5px;
}


p, label, a {
    font-family: "Montserrat", "Times New Roman", sans-serif;
    font-weight: 400;
}


.dates{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-family: "Abril Fatface", "Times New Roman", sans-serif;

}

.dob, .dod {
    display: flex;
    flex: 1;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--primary-colour);
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.dob h2, .dob h3, .dod h2, .dod h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
}
.header img{
    display: flex;
    justify-content: center; 
    
}

.name{
    
    font-family: "Abril Fatface", "Times New Roman", sans-serif;
    font-size: 1.5rem ;
}
.name h1,.name h5,.name h4 {
    margin: 5px;
    
}
.midle-body{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.discription {
  width: 70%;
}
.right-description div {
    flex: 1; 
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--primary-colour); 
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    font-family: "Abril Fatface", "Times New Roman", sans-serif;
    font-weight: 100;
    font-size:large;
}
.right-description h3 , .right-description h4 {
    margin: 0;
    padding: 0;
}
.right-description h4 {
    font-family: 'Montserrat';
    font-weight: 600;

}

.bubble {
    position: relative;
    z-index: -1;
}
.circle1 {
    width: 70px;
    height: 70px;
    background-color: var(--secondary);
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 0px;
}
.circle2 {
    width: 50px;
    height: 50px;
    background-color: var(--tertionary);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 100px;
}

.circle3 {
    width: 100px;
    height: 100px;
    background-color:var(--primary-colour);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 10px;
}
